/* .sidebar {
  display: none;
} */

.page-counter {
  position: fixed;
  bottom: 3px;
  left: 10px;
  font-size: 1.5rem;
  color: white;
  z-index: 10;
}
/* .chapter-page {
  max-height: 100vh;
  width: auto;
  display: block;
  margin: 0 auto;
} */
